<div class="w-full">
  <h3 class="text-3xl font-bold text-center">
    {{title}}
  </h3>
  <div class="p-2 w-full center">
    <div class="w-6/12">
      <button class="mx-2 p-2 bg-slate-700 text-white w-1/4 rounded shadow-sm hover:shadow-lg" (click)="previousPage()">
        previous page
      </button>
      <button class="mx-2 p-2 bg-slate-700 text-white w-1/4 rounded shadow-sm hover:shadow-lg" (click)="nextPage()">
        next page
      </button>
    </div>
    <div class="page-info w-4/12">
      <div class="">
        <input  [(ngModel)]="urlInput" class="p-2 border-b-slate-800 border-solid" />
        <button class="mx-2 p-2 bg-slate-700 text-white w-1/4 rounded shadow-sm hover:shadow-lg" (click)="onChangeUrl()">
          update
        </button>
      </div>
    </div>
    <div class="page-info w-2/12">
      <div class="end">
        Page <span id="page-number" class="px-1"> {{pageNum}} </span> of <span id="page-count" class="px-1"> {{totalPage}} </span>
      </div>
    </div>
  </div>
  <div class="center bg-slate-900 p-2">
    <canvas #pdfRender></canvas>
  </div>
</div>